queenbee-luigi==0.5.7
pytest==4.6.9;python_version<'3.0'
pytest==6.1.2;python_version>='3.6'
twine==1.13.0;python_version<'3.0'
twine==3.2.0;python_version>='3.6'
setuptools==44.1.0;python_version<'3.0'
setuptools==50.3.2;python_version>='3.6'
importlib-metadata==3.1.0
