lbt-honeybee==0.8.435
pytest==8.3.2
Sphinx==8.0.2
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==2.0.0
sphinx-click==6.0.0
twine==5.1.1
wheel==0.44.0
setuptools==75.1.0
importlib-metadata==8.5.0
